<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:name="dev.widebars.commons.RightApp"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity
            android:name="dev.widebars.math.activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name="dev.widebars.math.activities.MainActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.widebars.math.activities.UnitConverterActivity"
            android:exported="false" />

        <activity
            android:name="dev.widebars.math.activities.UnitConverterPickerActivity"
            android:exported="false" />

        <activity
            android:name="dev.widebars.math.activities.WidgetConfigureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.widebars.math.activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName="dev.widebars.math.activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.widebars.commons.activities.PurchaseActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label=""
            android:screenOrientation="nosensor"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="dev.widebars.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName="dev.widebars.math.activities.MainActivity" />

        <activity
            android:name="dev.widebars.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName="dev.widebars.math.activities.SettingsActivity" />

        <service
            android:name=".services.MyTileService"
            android:icon="@drawable/ic_calculator"
            android:exported="true"
            android:label="@string/app_launcher_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="dev.widebars.math.helpers.MyWidgetProvider"
            android:exported="true"
            android:icon="@drawable/img_widget_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name="dev.widebars.math.receivers.LocaleChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.CopyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_COPY_RESULT" />
            </intent-filter>
        </receiver>

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.One"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_one"
            android:roundIcon="@mipmap/ic_launcher_one"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Two"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_two"
            android:roundIcon="@mipmap/ic_launcher_two"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Three"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_three"
            android:roundIcon="@mipmap/ic_launcher_three"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Four"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_four"
            android:roundIcon="@mipmap/ic_launcher_four"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Five"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_five"
            android:roundIcon="@mipmap/ic_launcher_five"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Six"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_six"
            android:roundIcon="@mipmap/ic_launcher_six"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Seven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_seven"
            android:roundIcon="@mipmap/ic_launcher_seven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eight"
            android:roundIcon="@mipmap/ic_launcher_eight"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Nine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nine"
            android:roundIcon="@mipmap/ic_launcher_nine"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Ten"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ten"
            android:roundIcon="@mipmap/ic_launcher_ten"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eleven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eleven"
            android:roundIcon="@mipmap/ic_launcher_eleven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
